<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="daylightchart.rcpgui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Daylight Chart Perspective"
            class="daylightchart.rcpgui.Perspective"
            id="Daylight_Chart_GUI.perspective"
            fixed="true">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Daylight Chart"
            allowMultiple="true"
            class="daylightchart.rcpgui.views.DaylightChartView"
            id="daylightchart.rcpgui.DaylightChartView">
      </view>
      <view
            name="Locations"
            allowMultiple="true"
            class="daylightchart.rcpgui.views.NavigationView"
            id="daylightchart.rcpgui.NavigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Daylight_Chart_GUI.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="Daylight_Chart_GUI.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="Daylight_Chart_GUI.application"
            name="Daylight Chart">
         <property
               name="aboutText"
               value="Daylight Chart shows sunrise and sunset times in an attractive chart, for any location in the world. The effect of daylight savings time is also displayed. Charts can be exported to image files.">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Daylight Chart">
         </property>
      </product>
   </extension>

</plugin>
